<% if (success_msg != "") { %> 
<div class="alert alert-sucess alert-dismissible fade show" role="alert">
  <strong><%= success_msg %> </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> 

<!--break-->
<% if (err_msg != "") { %> 
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= err_msg %> </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %> 